<%= form_for @contact, @action, fn form ->  %>

<%# Carry IDs through %>
   <%= hidden_input form, :case_id %>
   <%= hidden_input form, :id %>


<%# Add a helper to deal with slightly awkward label syntax %>
  <%
    field_helper = fn label_text, field_name ->
      label form, field_name do
        [label_text <> " ",
         text_input(form, field_name)]
      end
    end
   %>

<%= field_helper.("Title", :title) %>
<%= field_helper.("First Name", :first_name) %>
<%= field_helper.("Last Name", :last_name) %>
<%= field_helper.("Mobile Number", :mobile_number) %>
<%= field_helper.("Address", :address) %>

<%= submit "Submit" %>

<% end %>
